<form class="form-group" align="center" novalidate  ngForm #frm (ngSubmit)="onSubmit()">

  <div align="center">
    <label><b>Enter Location share ID</b></label>
    <br>
    <input type="text" class="form-control" id="shareID"
           required
           [(ngModel)]="shareID" name="shareID">
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<div>

<h4 *ngIf="connected" align="center">
  Connected. Waiting for real time location...
</h4>
<google-map height="600px" width="1450px" [options]="options" *ngIf="receivedLocation">
  <map-advanced-marker
    #markerElem="mapAdvancedMarker"
    [position]="{ lat: currentLatitude, lng: currentLongitude }"
  />
</google-map>
</div>
